@font-face {
  font-family: "DinPro";
  src: url("./fonts/DinPro/dinpro.otf");
}

@font-face {
  font-family: "DinPro-light";
  src: url("./fonts/DinPro/dinpro_light.otf");
}

@font-face {
  font-family: "DinPro-bold";
  src: url("./fonts/DinPro/dinpro_bold.otf");
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy/gilroy-regular.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./fonts/Gilroy/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy/Gilroy-Light.otf");
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
  background-color: rgb(224, 219, 219);
}